--
-- PostgreSQL database dump
--

\restrict 7V2tHoDuA0MwzMr0cwZdcsqilVQFnYrcpqGTgcPyMhnR0SvYdiV0HvLHory7gTK

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.rol_permisos DROP CONSTRAINT IF EXISTS rol_permisos_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.rol_permisos DROP CONSTRAINT IF EXISTS rol_permisos_permiso_id_fkey;
ALTER TABLE IF EXISTS ONLY public.retiros_caja DROP CONSTRAINT IF EXISTS retiros_caja_turno_id_fkey;
ALTER TABLE IF EXISTS ONLY public.receta_ingredientes DROP CONSTRAINT IF EXISTS receta_ingredientes_producto_id_fkey;
ALTER TABLE IF EXISTS ONLY public.receta_ingredientes DROP CONSTRAINT IF EXISTS receta_ingredientes_insumo_id_fkey;
ALTER TABLE IF EXISTS ONLY public.movimientos_inventario DROP CONSTRAINT IF EXISTS movimientos_inventario_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.movimientos_inventario DROP CONSTRAINT IF EXISTS movimientos_inventario_producto_id_fkey;
ALTER TABLE IF EXISTS ONLY public.movimientos_inventario DROP CONSTRAINT IF EXISTS movimientos_inventario_area_id_fkey;
ALTER TABLE IF EXISTS ONLY public.inventario_areas DROP CONSTRAINT IF EXISTS inventario_areas_producto_id_fkey;
ALTER TABLE IF EXISTS ONLY public.inventario_areas DROP CONSTRAINT IF EXISTS inventario_areas_area_id_fkey;
ALTER TABLE IF EXISTS ONLY public.divisiones_cuentas DROP CONSTRAINT IF EXISTS divisiones_cuentas_cuenta_id_fkey;
ALTER TABLE IF EXISTS ONLY public.divisiones_cuentas DROP CONSTRAINT IF EXISTS divisiones_cuentas_cliente_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detalle_cuentas DROP CONSTRAINT IF EXISTS detalle_cuentas_producto_id_fkey;
ALTER TABLE IF EXISTS ONLY public.detalle_cuentas DROP CONSTRAINT IF EXISTS detalle_cuentas_cuenta_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_usuario_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_turno_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_cliente_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_cadi_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_area_id_fkey;
ALTER TABLE IF EXISTS ONLY public.asignaciones_cadi_clientes DROP CONSTRAINT IF EXISTS asignaciones_cadi_clientes_cliente_id_fkey;
ALTER TABLE IF EXISTS ONLY public.asignaciones_cadi_clientes DROP CONSTRAINT IF EXISTS asignaciones_cadi_clientes_cadi_id_fkey;
DROP INDEX IF EXISTS public.insumos_nombre_key;
DROP INDEX IF EXISTS public.idx_cuentas_estado;
DROP INDEX IF EXISTS public.idx_asignaciones_activas;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_username_key;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_pkey;
ALTER TABLE IF EXISTS ONLY public.usuarios DROP CONSTRAINT IF EXISTS usuarios_email_key;
ALTER TABLE IF EXISTS ONLY public.usuario_roles DROP CONSTRAINT IF EXISTS usuario_roles_pkey;
ALTER TABLE IF EXISTS ONLY public.turnos DROP CONSTRAINT IF EXISTS turnos_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_nombre_key;
ALTER TABLE IF EXISTS ONLY public.rol_permisos DROP CONSTRAINT IF EXISTS rol_permisos_pkey;
ALTER TABLE IF EXISTS ONLY public.retiros_caja DROP CONSTRAINT IF EXISTS retiros_caja_pkey;
ALTER TABLE IF EXISTS ONLY public.receta_ingredientes DROP CONSTRAINT IF EXISTS receta_ingredientes_pkey;
ALTER TABLE IF EXISTS ONLY public.productos DROP CONSTRAINT IF EXISTS productos_pkey;
ALTER TABLE IF EXISTS ONLY public.productos DROP CONSTRAINT IF EXISTS productos_codigo_barras_key;
ALTER TABLE IF EXISTS ONLY public.permisos DROP CONSTRAINT IF EXISTS permisos_pkey;
ALTER TABLE IF EXISTS ONLY public.permisos DROP CONSTRAINT IF EXISTS permisos_codigo_key;
ALTER TABLE IF EXISTS ONLY public.movimientos_inventario DROP CONSTRAINT IF EXISTS movimientos_inventario_pkey;
ALTER TABLE IF EXISTS ONLY public.inventario_areas DROP CONSTRAINT IF EXISTS inventario_areas_pkey;
ALTER TABLE IF EXISTS ONLY public.insumos DROP CONSTRAINT IF EXISTS insumos_pkey;
ALTER TABLE IF EXISTS ONLY public.idempotency_keys DROP CONSTRAINT IF EXISTS idempotency_keys_pkey;
ALTER TABLE IF EXISTS ONLY public.gastos_ingresos_ccl DROP CONSTRAINT IF EXISTS gastos_ingresos_ccl_pkey;
ALTER TABLE IF EXISTS ONLY public.divisiones_cuentas DROP CONSTRAINT IF EXISTS divisiones_cuentas_pkey;
ALTER TABLE IF EXISTS ONLY public.divisiones_cuentas DROP CONSTRAINT IF EXISTS divisiones_cuentas_cuenta_id_cliente_id_key;
ALTER TABLE IF EXISTS ONLY public.detalle_cuentas DROP CONSTRAINT IF EXISTS detalle_cuentas_pkey;
ALTER TABLE IF EXISTS ONLY public.cuentas DROP CONSTRAINT IF EXISTS cuentas_pkey;
ALTER TABLE IF EXISTS ONLY public.clientes DROP CONSTRAINT IF EXISTS clientes_qr_token_key;
ALTER TABLE IF EXISTS ONLY public.clientes DROP CONSTRAINT IF EXISTS clientes_pkey;
ALTER TABLE IF EXISTS ONLY public.clientes DROP CONSTRAINT IF EXISTS clientes_email_key;
ALTER TABLE IF EXISTS ONLY public.clientes DROP CONSTRAINT IF EXISTS clientes_codigo_socio_key;
ALTER TABLE IF EXISTS ONLY public.cadis DROP CONSTRAINT IF EXISTS cadis_pkey;
ALTER TABLE IF EXISTS ONLY public.cadis DROP CONSTRAINT IF EXISTS cadis_numero_cadi_key;
ALTER TABLE IF EXISTS ONLY public.asignaciones_cadi_clientes DROP CONSTRAINT IF EXISTS asignaciones_cadi_clientes_pkey;
ALTER TABLE IF EXISTS ONLY public.asignaciones_cadi_clientes DROP CONSTRAINT IF EXISTS asignaciones_cadi_clientes_cadi_id_cliente_id_activa_key;
ALTER TABLE IF EXISTS ONLY public.areas DROP CONSTRAINT IF EXISTS areas_pkey;
ALTER TABLE IF EXISTS ONLY public.areas DROP CONSTRAINT IF EXISTS areas_nombre_key;
ALTER TABLE IF EXISTS public.usuarios ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.turnos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.retiros_caja ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.productos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.permisos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.movimientos_inventario ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.insumos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.gastos_ingresos_ccl ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.divisiones_cuentas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.detalle_cuentas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.cuentas ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.clientes ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.cadis ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.asignaciones_cadi_clientes ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.areas ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.usuarios_id_seq;
DROP TABLE IF EXISTS public.usuarios;
DROP TABLE IF EXISTS public.usuario_roles;
DROP SEQUENCE IF EXISTS public.turnos_id_seq;
DROP TABLE IF EXISTS public.turnos;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.rol_permisos;
DROP SEQUENCE IF EXISTS public.retiros_caja_id_seq;
DROP TABLE IF EXISTS public.retiros_caja;
DROP TABLE IF EXISTS public.receta_ingredientes;
DROP SEQUENCE IF EXISTS public.productos_id_seq;
DROP TABLE IF EXISTS public.productos;
DROP SEQUENCE IF EXISTS public.permisos_id_seq;
DROP TABLE IF EXISTS public.permisos;
DROP SEQUENCE IF EXISTS public.movimientos_inventario_id_seq;
DROP TABLE IF EXISTS public.movimientos_inventario;
DROP TABLE IF EXISTS public.inventario_areas;
DROP SEQUENCE IF EXISTS public.insumos_id_seq;
DROP TABLE IF EXISTS public.insumos;
DROP TABLE IF EXISTS public.idempotency_keys;
DROP SEQUENCE IF EXISTS public.gastos_ingresos_ccl_id_seq;
DROP TABLE IF EXISTS public.gastos_ingresos_ccl;
DROP SEQUENCE IF EXISTS public.divisiones_cuentas_id_seq;
DROP TABLE IF EXISTS public.divisiones_cuentas;
DROP SEQUENCE IF EXISTS public.detalle_cuentas_id_seq;
DROP TABLE IF EXISTS public.detalle_cuentas;
DROP SEQUENCE IF EXISTS public.cuentas_id_seq;
DROP TABLE IF EXISTS public.cuentas;
DROP SEQUENCE IF EXISTS public.clientes_id_seq;
DROP TABLE IF EXISTS public.clientes;
DROP SEQUENCE IF EXISTS public.cadis_id_seq;
DROP TABLE IF EXISTS public.cadis;
DROP SEQUENCE IF EXISTS public.asignaciones_cadi_clientes_id_seq;
DROP TABLE IF EXISTS public.asignaciones_cadi_clientes;
DROP SEQUENCE IF EXISTS public.areas_id_seq;
DROP TABLE IF EXISTS public.areas;
DROP EXTENSION IF EXISTS "uuid-ossp";
--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: areas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.areas (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: areas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.areas_id_seq OWNED BY public.areas.id;


--
-- Name: asignaciones_cadi_clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.asignaciones_cadi_clientes (
    id integer NOT NULL,
    cadi_id integer NOT NULL,
    cliente_id integer NOT NULL,
    fecha_inicio timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_fin timestamp with time zone,
    activa boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: asignaciones_cadi_clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.asignaciones_cadi_clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: asignaciones_cadi_clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.asignaciones_cadi_clientes_id_seq OWNED BY public.asignaciones_cadi_clientes.id;


--
-- Name: cadis; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cadis (
    id integer NOT NULL,
    numero_cadi character varying(20) NOT NULL,
    nombre character varying(100) NOT NULL,
    telefono character varying(20),
    estado character varying(20) DEFAULT 'DISPONIBLE'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: cadis_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cadis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cadis_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cadis_id_seq OWNED BY public.cadis.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    codigo_socio character varying(50),
    nombre character varying(100) NOT NULL,
    email character varying(100),
    password_hash character varying(255),
    telefono character varying(20),
    qr_token character varying(255),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: cuentas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cuentas (
    id bigint NOT NULL,
    area_id integer NOT NULL,
    usuario_id integer NOT NULL,
    cadi_id integer,
    nombre_referencia character varying(100),
    estado character varying(20) DEFAULT 'ABIERTA'::character varying NOT NULL,
    subtotal numeric(12,4) DEFAULT 0.0000 NOT NULL,
    impuestos numeric(12,4) DEFAULT 0.0000 NOT NULL,
    descuento numeric(12,4) DEFAULT 0.0000 NOT NULL,
    total numeric(12,4) DEFAULT 0.0000 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    closed_at timestamp with time zone,
    turno_id integer,
    metodo_pago character varying(50),
    cliente_id integer,
    CONSTRAINT chk_totales_no_negativos CHECK (((subtotal >= (0)::numeric) AND (total >= (0)::numeric)))
);


--
-- Name: cuentas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.cuentas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: cuentas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.cuentas_id_seq OWNED BY public.cuentas.id;


--
-- Name: detalle_cuentas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.detalle_cuentas (
    id bigint NOT NULL,
    cuenta_id bigint NOT NULL,
    producto_id integer NOT NULL,
    cantidad numeric(12,4) NOT NULL,
    precio_unitario numeric(12,4) NOT NULL,
    descuento numeric(12,4) DEFAULT 0.0000 NOT NULL,
    subtotal numeric(12,4) NOT NULL,
    impuestos numeric(12,4) DEFAULT 0.0000 NOT NULL,
    total numeric(12,4) NOT NULL,
    estado_item character varying(20) DEFAULT 'PEDIDO'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT detalle_cuentas_cantidad_check CHECK ((cantidad > (0)::numeric)),
    CONSTRAINT detalle_cuentas_precio_unitario_check CHECK ((precio_unitario >= (0)::numeric))
);


--
-- Name: detalle_cuentas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.detalle_cuentas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: detalle_cuentas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.detalle_cuentas_id_seq OWNED BY public.detalle_cuentas.id;


--
-- Name: divisiones_cuentas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.divisiones_cuentas (
    id bigint NOT NULL,
    cuenta_id bigint NOT NULL,
    cliente_id integer NOT NULL,
    porcentaje_participacion numeric(5,2) NOT NULL,
    monto_proporcional numeric(12,4) NOT NULL,
    metodo_pago character varying(50),
    estado_pago character varying(20) DEFAULT 'PENDIENTE'::character varying NOT NULL,
    pagado_at timestamp with time zone,
    CONSTRAINT chk_porcentaje_valido CHECK (((porcentaje_participacion > (0)::numeric) AND (porcentaje_participacion <= (100)::numeric)))
);


--
-- Name: divisiones_cuentas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.divisiones_cuentas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: divisiones_cuentas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.divisiones_cuentas_id_seq OWNED BY public.divisiones_cuentas.id;


--
-- Name: gastos_ingresos_ccl; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.gastos_ingresos_ccl (
    id integer NOT NULL,
    fecha date NOT NULL,
    tipo_registro text NOT NULL,
    concepto text NOT NULL,
    monto numeric(12,4) NOT NULL,
    metodo_pago text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: gastos_ingresos_ccl_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.gastos_ingresos_ccl_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: gastos_ingresos_ccl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.gastos_ingresos_ccl_id_seq OWNED BY public.gastos_ingresos_ccl.id;


--
-- Name: idempotency_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.idempotency_keys (
    key character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    response_status integer,
    response_body text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: insumos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insumos (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    stock numeric(12,4) DEFAULT 0.0000 NOT NULL,
    unidad character varying(20) NOT NULL,
    stock_minimo numeric(12,4) DEFAULT 0.0000 NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: insumos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.insumos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: insumos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.insumos_id_seq OWNED BY public.insumos.id;


--
-- Name: inventario_areas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.inventario_areas (
    area_id integer NOT NULL,
    producto_id integer NOT NULL,
    stock numeric(12,4) DEFAULT 0.0000 NOT NULL,
    stock_minimo numeric(12,4) DEFAULT 0.0000 NOT NULL,
    stock_maximo numeric(12,4) DEFAULT 0.0000 NOT NULL,
    ubicacion_estante character varying(50),
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_stock_positivo CHECK ((stock >= (0)::numeric))
);


--
-- Name: movimientos_inventario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movimientos_inventario (
    id bigint NOT NULL,
    area_id integer NOT NULL,
    producto_id integer NOT NULL,
    tipo_movimiento character varying(20) NOT NULL,
    cantidad numeric(12,4) NOT NULL,
    stock_anterior numeric(12,4) NOT NULL,
    stock_nuevo numeric(12,4) NOT NULL,
    usuario_id integer NOT NULL,
    referencia_id character varying(100),
    motivo text,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.movimientos_inventario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.movimientos_inventario_id_seq OWNED BY public.movimientos_inventario.id;


--
-- Name: permisos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.permisos (
    id integer NOT NULL,
    codigo character varying(50) NOT NULL,
    descripcion text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: permisos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.permisos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: permisos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.permisos_id_seq OWNED BY public.permisos.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    codigo_barras character varying(50),
    nombre character varying(100) NOT NULL,
    descripcion text,
    precio_venta numeric(12,4) NOT NULL,
    categoria character varying(50),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT productos_precio_venta_check CHECK ((precio_venta >= (0)::numeric))
);


--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: receta_ingredientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.receta_ingredientes (
    producto_id integer NOT NULL,
    insumo_id integer NOT NULL,
    cantidad numeric(12,4) NOT NULL
);


--
-- Name: retiros_caja; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.retiros_caja (
    id integer NOT NULL,
    turno_id integer NOT NULL,
    monto numeric(12,4) NOT NULL,
    motivo text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: retiros_caja_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.retiros_caja_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: retiros_caja_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.retiros_caja_id_seq OWNED BY public.retiros_caja.id;


--
-- Name: rol_permisos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rol_permisos (
    role_id integer NOT NULL,
    permiso_id integer NOT NULL
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: turnos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.turnos (
    id integer NOT NULL,
    usuario_id integer NOT NULL,
    fondo_inicial numeric(12,4) NOT NULL,
    caja_efectivo numeric(12,4) DEFAULT 0.0000 NOT NULL,
    caja_tarjeta numeric(12,4) DEFAULT 0.0000 NOT NULL,
    caja_cargos numeric(12,4) DEFAULT 0.0000 NOT NULL,
    abierto_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cerrado_at timestamp with time zone,
    activo boolean DEFAULT true NOT NULL
);


--
-- Name: turnos_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.turnos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: turnos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.turnos_id_seq OWNED BY public.turnos.id;


--
-- Name: usuario_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuario_roles (
    usuario_id integer NOT NULL,
    role_id integer NOT NULL
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(100),
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: areas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.areas ALTER COLUMN id SET DEFAULT nextval('public.areas_id_seq'::regclass);


--
-- Name: asignaciones_cadi_clientes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asignaciones_cadi_clientes ALTER COLUMN id SET DEFAULT nextval('public.asignaciones_cadi_clientes_id_seq'::regclass);


--
-- Name: cadis id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cadis ALTER COLUMN id SET DEFAULT nextval('public.cadis_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: cuentas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas ALTER COLUMN id SET DEFAULT nextval('public.cuentas_id_seq'::regclass);


--
-- Name: detalle_cuentas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detalle_cuentas ALTER COLUMN id SET DEFAULT nextval('public.detalle_cuentas_id_seq'::regclass);


--
-- Name: divisiones_cuentas id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisiones_cuentas ALTER COLUMN id SET DEFAULT nextval('public.divisiones_cuentas_id_seq'::regclass);


--
-- Name: gastos_ingresos_ccl id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gastos_ingresos_ccl ALTER COLUMN id SET DEFAULT nextval('public.gastos_ingresos_ccl_id_seq'::regclass);


--
-- Name: insumos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insumos ALTER COLUMN id SET DEFAULT nextval('public.insumos_id_seq'::regclass);


--
-- Name: movimientos_inventario id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario ALTER COLUMN id SET DEFAULT nextval('public.movimientos_inventario_id_seq'::regclass);


--
-- Name: permisos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permisos ALTER COLUMN id SET DEFAULT nextval('public.permisos_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: retiros_caja id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retiros_caja ALTER COLUMN id SET DEFAULT nextval('public.retiros_caja_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: turnos id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.turnos ALTER COLUMN id SET DEFAULT nextval('public.turnos_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.areas (id, nombre, descripcion, activo, created_at) FROM stdin;
1	Bar	Bar de la Casa Club	t	2026-06-19 05:50:35.404+00
2	Snack	Snack en el Hoyo 9	t	2026-06-19 05:50:35.411+00
3	Palapa	Palapa de la alberca / exterior	t	2026-06-19 05:50:35.415+00
\.


--
-- Data for Name: asignaciones_cadi_clientes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.asignaciones_cadi_clientes (id, cadi_id, cliente_id, fecha_inicio, fecha_fin, activa, created_at) FROM stdin;
\.


--
-- Data for Name: cadis; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cadis (id, numero_cadi, nombre, telefono, estado, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: cuentas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: detalle_cuentas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: divisiones_cuentas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: gastos_ingresos_ccl; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.gastos_ingresos_ccl (id, fecha, tipo_registro, concepto, monto, metodo_pago, created_at) FROM stdin;
\.


--
-- Data for Name: idempotency_keys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.idempotency_keys (key, status, response_status, response_body, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: insumos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.insumos (id, nombre, stock, unidad, stock_minimo, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: inventario_areas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: movimientos_inventario; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: permisos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.permisos (id, codigo, descripcion, created_at) FROM stdin;
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: receta_ingredientes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.receta_ingredientes (producto_id, insumo_id, cantidad) FROM stdin;
\.


--
-- Data for Name: retiros_caja; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.retiros_caja (id, turno_id, monto, motivo, created_at) FROM stdin;
\.


--
-- Data for Name: rol_permisos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.rol_permisos (role_id, permiso_id) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.roles (id, nombre, descripcion, created_at, updated_at) FROM stdin;
1	ADMIN	Superusuario con control total sobre inventario y usuarios	2026-06-19 05:50:34.882+00	2026-06-19 05:50:34.882+00
2	VENDEDOR	Vendedor del punto de venta por ├írea	2026-06-19 05:50:34.893+00	2026-06-19 05:50:34.893+00
\.


--
-- Data for Name: turnos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.turnos (id, usuario_id, fondo_inicial, caja_efectivo, caja_tarjeta, caja_cargos, abierto_at, cerrado_at, activo) FROM stdin;
16	1	500.0000	500.0000	0.0000	0.0000	2026-06-23 06:12:07.336+00	2026-06-23 17:16:51.932+00	f
17	1	1773.0000	2575.1000	350.0000	324.0000	2026-06-23 17:17:13.939+00	2026-06-24 16:05:31.567+00	f
18	1	500.0000	744.5000	0.0000	0.0000	2026-06-24 16:06:15.947+00	2026-06-24 16:08:06.608+00	f
19	1	1910.0000	0.0000	0.0000	0.0000	2026-06-24 16:08:19.206+00	\N	t
\.


--
-- Data for Name: usuario_roles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.usuario_roles (usuario_id, role_id) FROM stdin;
1	1
2	2
3	2
4	2
5	2
6	2
7	1
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.areas_id_seq', 1, false);


--
-- Name: asignaciones_cadi_clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.asignaciones_cadi_clientes_id_seq', 3, true);


--
-- Name: cadis_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cadis_id_seq', 7, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.clientes_id_seq', 56, true);


--
-- Name: cuentas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cuentas_id_seq', 170, true);


--
-- Name: detalle_cuentas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.detalle_cuentas_id_seq', 235, true);


--
-- Name: divisiones_cuentas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.divisiones_cuentas_id_seq', 104, true);


--
-- Name: gastos_ingresos_ccl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.gastos_ingresos_ccl_id_seq', 74, true);


--
-- Name: insumos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.insumos_id_seq', 1, false);


--
-- Name: movimientos_inventario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.movimientos_inventario_id_seq', 211, true);


--
-- Name: permisos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.permisos_id_seq', 1, false);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.productos_id_seq', 545, true);


--
-- Name: retiros_caja_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.retiros_caja_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_id_seq', 2, true);


--
-- Name: turnos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.turnos_id_seq', 19, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 8, true);


--
-- Name: areas areas_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_nombre_key UNIQUE (nombre);


--
-- Name: areas areas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_pkey PRIMARY KEY (id);


--
-- Name: asignaciones_cadi_clientes asignaciones_cadi_clientes_cadi_id_cliente_id_activa_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asignaciones_cadi_clientes
    ADD CONSTRAINT asignaciones_cadi_clientes_cadi_id_cliente_id_activa_key UNIQUE (cadi_id, cliente_id, activa);


--
-- Name: asignaciones_cadi_clientes asignaciones_cadi_clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asignaciones_cadi_clientes
    ADD CONSTRAINT asignaciones_cadi_clientes_pkey PRIMARY KEY (id);


--
-- Name: cadis cadis_numero_cadi_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cadis
    ADD CONSTRAINT cadis_numero_cadi_key UNIQUE (numero_cadi);


--
-- Name: cadis cadis_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cadis
    ADD CONSTRAINT cadis_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_codigo_socio_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_codigo_socio_key UNIQUE (codigo_socio);


--
-- Name: clientes clientes_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_email_key UNIQUE (email);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_qr_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_qr_token_key UNIQUE (qr_token);


--
-- Name: cuentas cuentas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_pkey PRIMARY KEY (id);


--
-- Name: detalle_cuentas detalle_cuentas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detalle_cuentas
    ADD CONSTRAINT detalle_cuentas_pkey PRIMARY KEY (id);


--
-- Name: divisiones_cuentas divisiones_cuentas_cuenta_id_cliente_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisiones_cuentas
    ADD CONSTRAINT divisiones_cuentas_cuenta_id_cliente_id_key UNIQUE (cuenta_id, cliente_id);


--
-- Name: divisiones_cuentas divisiones_cuentas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisiones_cuentas
    ADD CONSTRAINT divisiones_cuentas_pkey PRIMARY KEY (id);


--
-- Name: gastos_ingresos_ccl gastos_ingresos_ccl_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.gastos_ingresos_ccl
    ADD CONSTRAINT gastos_ingresos_ccl_pkey PRIMARY KEY (id);


--
-- Name: idempotency_keys idempotency_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.idempotency_keys
    ADD CONSTRAINT idempotency_keys_pkey PRIMARY KEY (key);


--
-- Name: insumos insumos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insumos
    ADD CONSTRAINT insumos_pkey PRIMARY KEY (id);


--
-- Name: inventario_areas inventario_areas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario_areas
    ADD CONSTRAINT inventario_areas_pkey PRIMARY KEY (area_id, producto_id);


--
-- Name: movimientos_inventario movimientos_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_pkey PRIMARY KEY (id);


--
-- Name: permisos permisos_codigo_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_codigo_key UNIQUE (codigo);


--
-- Name: permisos permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.permisos
    ADD CONSTRAINT permisos_pkey PRIMARY KEY (id);


--
-- Name: productos productos_codigo_barras_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_codigo_barras_key UNIQUE (codigo_barras);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: receta_ingredientes receta_ingredientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receta_ingredientes
    ADD CONSTRAINT receta_ingredientes_pkey PRIMARY KEY (producto_id, insumo_id);


--
-- Name: retiros_caja retiros_caja_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retiros_caja
    ADD CONSTRAINT retiros_caja_pkey PRIMARY KEY (id);


--
-- Name: rol_permisos rol_permisos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT rol_permisos_pkey PRIMARY KEY (role_id, permiso_id);


--
-- Name: roles roles_nombre_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombre_key UNIQUE (nombre);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: turnos turnos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_pkey PRIMARY KEY (id);


--
-- Name: usuario_roles usuario_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_pkey PRIMARY KEY (usuario_id, role_id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_username_key UNIQUE (username);


--
-- Name: idx_asignaciones_activas; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_asignaciones_activas ON public.asignaciones_cadi_clientes USING btree (cadi_id) WHERE (activa = true);


--
-- Name: idx_cuentas_estado; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cuentas_estado ON public.cuentas USING btree (estado) WHERE ((estado)::text = 'ABIERTA'::text);


--
-- Name: insumos_nombre_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX insumos_nombre_key ON public.insumos USING btree (nombre);


--
-- Name: asignaciones_cadi_clientes asignaciones_cadi_clientes_cadi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asignaciones_cadi_clientes
    ADD CONSTRAINT asignaciones_cadi_clientes_cadi_id_fkey FOREIGN KEY (cadi_id) REFERENCES public.cadis(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: asignaciones_cadi_clientes asignaciones_cadi_clientes_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.asignaciones_cadi_clientes
    ADD CONSTRAINT asignaciones_cadi_clientes_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: cuentas cuentas_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: cuentas cuentas_cadi_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_cadi_id_fkey FOREIGN KEY (cadi_id) REFERENCES public.cadis(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cuentas cuentas_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cuentas cuentas_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turnos(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cuentas cuentas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cuentas
    ADD CONSTRAINT cuentas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detalle_cuentas detalle_cuentas_cuenta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detalle_cuentas
    ADD CONSTRAINT detalle_cuentas_cuenta_id_fkey FOREIGN KEY (cuenta_id) REFERENCES public.cuentas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: detalle_cuentas detalle_cuentas_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.detalle_cuentas
    ADD CONSTRAINT detalle_cuentas_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: divisiones_cuentas divisiones_cuentas_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisiones_cuentas
    ADD CONSTRAINT divisiones_cuentas_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: divisiones_cuentas divisiones_cuentas_cuenta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.divisiones_cuentas
    ADD CONSTRAINT divisiones_cuentas_cuenta_id_fkey FOREIGN KEY (cuenta_id) REFERENCES public.cuentas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventario_areas inventario_areas_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario_areas
    ADD CONSTRAINT inventario_areas_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventario_areas inventario_areas_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.inventario_areas
    ADD CONSTRAINT inventario_areas_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_inventario movimientos_inventario_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_inventario movimientos_inventario_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: movimientos_inventario movimientos_inventario_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movimientos_inventario
    ADD CONSTRAINT movimientos_inventario_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: receta_ingredientes receta_ingredientes_insumo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receta_ingredientes
    ADD CONSTRAINT receta_ingredientes_insumo_id_fkey FOREIGN KEY (insumo_id) REFERENCES public.insumos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: receta_ingredientes receta_ingredientes_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.receta_ingredientes
    ADD CONSTRAINT receta_ingredientes_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: retiros_caja retiros_caja_turno_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.retiros_caja
    ADD CONSTRAINT retiros_caja_turno_id_fkey FOREIGN KEY (turno_id) REFERENCES public.turnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rol_permisos rol_permisos_permiso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT rol_permisos_permiso_id_fkey FOREIGN KEY (permiso_id) REFERENCES public.permisos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rol_permisos rol_permisos_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rol_permisos
    ADD CONSTRAINT rol_permisos_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: turnos turnos_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.turnos
    ADD CONSTRAINT turnos_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: usuario_roles usuario_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: usuario_roles usuario_roles_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuario_roles
    ADD CONSTRAINT usuario_roles_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7V2tHoDuA0MwzMr0cwZdcsqilVQFnYrcpqGTgcPyMhnR0SvYdiV0HvLHory7gTK

